#main{
    border: 1px solid black;
    width: 25%;
   position: relative;
}
img{
    width: 200px;
}
#card
{  display: none;
    width: 200px;
  border: 1px solid black;
  position: absolute;
  top: 50px;
  left: 100px;
}
#main:hover #card{
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }